<div class="footer" id="footer">
    <li class="ft-list">
        <p>Reach Out To Us At:  <i class="ri-mail-open-fill"></i><a href="/">wastewisecorp@gmail.com</a></p>
        <br>
        <p><i class="ri-building-fill"></i> <a href=""><br>3172<br>Tower 3,<br> Estancia,<br> Guduvanchary,<br> Chennai, Tamil Nadu,<br> 603203</a></p>
    </li>
    <a href="/"><h2 class="logo">WasteWise</h2></a>
    <!-- <p class="tagline">Clean City. Cleaner Mind</p> -->
</div>
