<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WasteWise | Log In To Your Account</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="nav">
        <h2 class="logo">WasteWise</h2>
        <li class="btns ">
            <a class="btn " href="/"><i class="ri-home-5-fill"></i> Home</a>
        <!-- </li>
        <a class="li-btn " href="/login"><i class="ri-login-box-fill"></i> Login</a>
        <a class="su-btn " href="/signup"><i class="ri-login-box-line"></i> Sign Up</a> -->
    </div>
    <div class="crsr"></div>
    <div class="crsr-blur"></div>
    <video autoplay muted loop id="bg-video">
        <source src="https://cdn.pixabay.com/video/2021/08/06/84086-584871133_large.mp4" type="video/mp4">
      </video>
    <div class="main">
        <div class="pages">
            <div class="page3" id="page3">
                <h1>Log In</h1>
                <form class="su-form" action="/login" method="post">
                    <input class="px-2 py-3 mt-2 rounded-md bg-zinc-200 text-black-600" type="email" name="email" placeholder="Enter Your Email ID...">
                    <input class="px-2 py-3 mt-2 rounded-md bg-zinc-200 text-black-600" type="password" name="password" placeholder="Enter Password...">
                    <input class="px-2 py-3 mt-2 rounded-md bg-yellow-500 text-black-600" type="submit" value="Log In">
                </form>
            </div>
    
            <%- include('partials/footer') %>

        </div>
    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/script.js"></script>
</body>
</html>